[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule "bundle/splitjoin"]
	path = bundle/splitjoin
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/ri.vim"]
	path = bundle/ri.vim
	url = https://github.com/danchoi/ri.vim
	ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/command-t.git
